.page_header {
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}
.page_header::before {
  content: '';
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: url('../img/header_bord.png') no-repeat;
  background-size: cover;
  z-index: 100000;
}
.page_header .container .row > div {
  height: 140px;
}
.page_header .container .row > div.top_logo {
  text-align: center;
  padding: 25px 0;
}
.page_header .container .row > div.top_logo img {
  display: block;
  margin: 0 auto;
}
.page_header .container .row > div.top_logo h2 {
  font-family: 'uni-sans';
  font-size: 17px;
  padding: 0;
  margin: 0;
}
.page_header .top_nav {
  padding: 65px 5%;
}
.page_header .top_nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_header .top_nav ul li a {
  font-family: 'helvetica-bold';
  font-size: 14px;
  color: #2b2b2b;
  padding: 15px 20px 10px 20px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.page_header .top_nav ul li a:hover {
  text-decoration: none !important;
  color: #ffaf14;
}
.page_header .top_nav ul li a.active {
  border: 2px solid #2b2b2b;
}
.page_header .top_nav ul li a.active:hover {
  border-color: #ffaf14;
}
.page_header .top_contacts {
  padding: 62px 0 62px 18px;
  background: url('../img/black_phone.png') no-repeat 0 53%;
}
.page_header .top_contacts p {
  font-family: 'uni-sans';
  font-size: 20px;
}
.page_header .top_contacts p .gray {
  color: #a3a3a3;
}
.page_header .top_call {
  padding: 45px 0;
}
.page_header .top_call .header_btn {
  width: 220px;
  text-align: center;
  background: #ffaf14;
  color: #ffffff;
  font-family: 'helvetica-bold';
  padding: 20px 20px 15px 20px;
  border: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.page_header .top_call .header_btn:hover {
  filter: brightness(110%);
  -moz-filter: brightness(110%);
  -webkit-filter: brightness(110%);
}
.header_mobile {
  position: relative;
  padding: 0 35px;
  text-align: center;
}
.header_mobile::after {
  content: '';
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url('../img/header_bord.png') no-repeat;
  background-size: cover;
}
.header_mobile .nav_mobile {
  display: block;
  padding: 35px 0;
}
.header_mobile .nav_mobile > span {
  display: block;
  width: 40px;
  height: 4px;
  background: #3e3e3e;
  margin-bottom: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.header_mobile .logo_mobile {
  display: inline-block;
  padding: 17px 0;
}
.header_mobile .contact_mobile {
  padding: 35px 0;
}
#mobileMenu {
  background: #3e3e3e;
  width: 100%;
  height: 100%;
  padding: 75px 0;
  color: #ffaf14;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: scroll;
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  -o-transform: translateX(-1000px);
  -webkit-transform: translateX(-1000px);
  -moz-transform: translateX(-1000px);
  font-family: 'helvetica-bold';
  opacity: .6;
  z-index: 10000;
}
#mobileMenu.active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
}
#mobileMenu > li {
  margin-bottom: 50px;
}
#mobileMenu > li a {
  position: relative;
}
#mobileMenu > li a.active::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffaf14;
  bottom: -10px;
  right: 0;
}
#mobileMenu > .close_toggle {
  position: absolute;
  top: 25px;
  right: 10%;
  cursor: pointer;
}
#mobileMenu.active {
  opacity: 1;
}
#mobileMenu a {
  color: #ffaf14;
}
@media screen and (max-width: 1500px) {
  .page_header .top_nav {
    padding: 65px 0;
  }
  .page_header .top_nav ul li a {
    font-size: 12px;
  }
  .page_header .top_contacts p {
    font-size: 16px;
  }
  .top_call {
    padding-left: 5px !important;
  }
  .top_call a.btn_orange {
    width: 175px !important;
  }
  .top_call .header_btn {
    width: 150px !important;
    padding: 15px 10px 15px 10px !important;
    font-size: 13px !important;
  }
}
